# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Backend env
.env

# Java/Maven
target/
*.class
*.jar
*.war
*.ear
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db
